@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Thin.otf');
  src: local('Avenir-Thin'),
      url('../fonts/Avenir-Thin.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Regular.otf');
  src: local('Avenir-Regular'),
      url('../fonts/Avenir-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

$primary-font: 'Roboto' , sans-serif;
$secondary-font: 'Avenir' , sans-serif;
$font-size-base: 18px;
$line-height: 24px;
