:root {
--background: #E5E5E5;
--textColor: #1E2124;
--textColorSecundary: #343C58;
--textColorGray: #53595F;
--header: #343C58;
--headerRgb: 52, 60, 88;
--button: #0467DB;
--white: #FFFFFF;
--success: #32CB82;
--error: #FF6660;
--disabled: #C9CCCF;
--border: #E4E4E6;
--borderLight: #C9CCCF;
}
